## https://velocity.apache.org/engine/1.7/user-guide.html
## Set language and country if you need to override.
## Leave them blank if you just want to user the default.
#set( $language = '' )
#set( $country = '' )
## HEADER
$header
## ROWS
#foreach( $row in $rows )
#set( $symbol = $row.symbol )
#set( $price = $util.toQifPriceString($row.price, $language, $country) )
#set( $date = $util.toQifDateString($row.date) )
"$symbol","$price","$date",,,
#end