## https://velocity.apache.org/engine/1.7/user-guide.html
## HEADER
$header
## ROWS
#foreach( $row in $rows )
#set( $symbol = $row.symbol )
#set( $price = $util.toQifPriceString($row.price, $language, $country) )
#set( $date = $util.toQifDateString($row.date) )
"$symbol","$price","$date",,,
#end